<!-- Body content -->
<div class="slider-area">
    <div>
        <div id="bg-slider" class=" owl-theme">
          <div class="item"><%= image_tag "slider-image-3.jpg", alt: "Green River" %></div>
        </div>
    </div>
    <div class="container slider-content">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
                <h2>Procurar passeios é muito fácil</h2>
                <p>Experimente o mundo com as pessoas locais. Tenha a chance de visitar lugares que somente os locais conhecem. Escute as histórias que as pessoas vivenciaram.</p>
                <div class="search-form wow pulse" data-wow-delay="0.8s">
                    <%= form_tag search_tours_path, method: 'get', class: "form-inline" do %>
                      <div class="form-group", id="lbl-search" >
                        <%= label_tag :location, 'Local' %>
                        <%= text_field_tag :location, nil, class: "form-control", placeholder: 'Salvador, Florianópolis...'%>
                        <%= label_tag :category_id, 'Tipo de passeio' %>
                        <%= select_tag :category_id, options_from_collection_for_select(@categories, :id, :name), class: "form-control", prompt: 'Qualquer tipo de passeio'  %>
                        <%= submit_tag 'Buscar' %>
                      </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
