<div class="content-area">
    <div class="container">
        <div class="row page-title text-center wow bounce"  data-wow-delay="1s">
            <h2>Passeios disponíveis</h2>
        </div>
        <div class="row jobs">
            <div class="col-md-2">
                <div class="wow">
                  <h2>Categorias</h2>
                  <ul class="list-unstyled">
                    <% @categories.each do |cat| %>
                    <li><%= link_to cat.name, cat%></li>
                    <% end %>
                  </ul>
                </div>
            </div>
            <div class="col-md-10">
                <% @tours.each do |tour| %>
                      <div>
                        <h1><%= link_to tour.title, tour %></h1>
                        <%= image_tag tour.picture.url(:thumb) %>
                        <dl>
                          <dt>Local</dt>
                          <dd><%= tour.location.local%></dd>
                          <dt>Categoria</dt>
                          <dd><%= tour.category.name %></dd>
                        </dl>
                      </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
