<div class="content-area">
    <div class="container">
        <div class="row page-title text-center wow bounce"  data-wow-delay="1s">
            <h2><span><%= @tours.count %></span> Passeios disponíveis</h2>
        </div>
        <div class="row jobs">
          <div class="col-md-10 col-md-offset-2">
            <div class="row">
                <% @tours.each do |tour| %>
                <div class="col-md-6">
                  <div class="panel panel-success">
                    <div class="panel-heading">
                      <h4 class="panel-title"><%= link_to tour.title, tour %></h3>
                    </div>
                    <div class="panel-body">
                      <div class="col-md-4">
                        <%= link_to tour do %>
                          <%= image_tag tour.picture.url(:thumb), class: "img-thumbnail" %>
                        <% end %>
                      </div>
                      <div class="col-md-6">
                        <p>
                          <span><strong>Local:</strong></span>
                          <span><%= tour.location.local%></span>
                        </p>
                        <p>
                          <span><strong>Categoria:</strong></span>
                          <span><%= tour.category.name %></span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
