<section>
  <%= @guide.name %>
  <%= @guide.location.local %>
  <%= @guide.phone %>
  <%= @guide.email %>

  <%= 'Não há passeios cadastrados!' if @guide.tour.empty?%>

  <% @guide.tour.each do |tour| %>
    <%= link_to tour.title, tour %>
  <% end %>

</section>
